.dashboard_head_color{
    color:#6777EF;
}
.tohoney_customer_color{
    color:#EF4836;
}
.testmonial_img img{
    border-radius: 60%;
    border: 2px solid #EF4836;
}
.breadcumb-area{
    background-position: center;
}